*{
	margin: 0 ;
	padding:0 ;	
}
body {
	display: flex;
}
.loadDocument {
	position: absolute;
	width: 100%;
	height: 100% ;
	background-color: #DEDEDE;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;

}
.loadDocument > img {
	width: 75px;
	height: 75px;
}
aside {
	width: 370px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	opacity: 1;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
.top_bar {
	background-color: #4285f4;
	display: flex;
	width: 100%;
	flex-direction: column;
}
.top_top_bar {
	border-bottom: 1px solid #5591f5;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: end;
	height: 47px;
}
.top_top_bar > img:first-child {
	margin-left: 30px;
	width: 20px;
	cursor: pointer;
}
.top_top_bar > img:last-child {
	margin-right: 30px;
	width: 15px;
	cursor: pointer;
}
.top_middle_bar {
	width: 100%;
	height: 110px;
	background-color: #4285f4;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#photo_user {
	margin-left: 30px;
	width: 60px;
	height: 60px;
	border-radius: 35px;
	cursor: pointer;
}
#name_user {
	font-family: ProximaNova Regular;
	font-size: 16px;
	color: white;
	margin-left: 15px;
	position: relative;
	top: 20px;
}
#status {
	font-family: ProximaNova Light;
	font-size: 13px;
	color: white;
	margin-left: 15px;
	margin-top: 10px;
}
#state_this_user {
	width: 12px;
	position: relative;
	right: 15px;
	top: 20px;
}
.top_middle_bar > div:last-child {
	align-self: end;
	margin-bottom: 30px;
}
.top_middle_bar > div:last-child > form > input {
	background-color: inherit;
	border: none;
	margin-left: 15px;
	color: white;
}
.top_bottom_bar {
	height: 46px;
	width: 100%;
	background-color: #3367d6;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.top_bottom_bar > div {
	display: flex;
	flex-direction: row;
	margin-left: 30px;
}
.top_bottom_bar > img {
	margin-right: 30px;
	cursor: pointer;
}
.top_bottom_bar > div > input {
	background-color: #3367d6;
	border: none;
	font-size: 13px;
	font-family: ProximaNova Regular;
	color: #b3cefb;
	margin-left: 5px;
	padding: 3px 35px;
}
.top_bottom_bar > div > img {
	cursor: pointer;
	height: 16px;
}
.middle_bar {
	background-color: #f5f5f5;
	height: 4px;
	width: 100%;
}
.bottom_bar {
	width: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 5px 15px #e7e7e7;
	height: 100%;
}
.bottom_bar_menu {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 50px;
}
.bottom_bar_menu > div {
	width: 33.33%;
	color: #4b4b4b;
	font-size: 14px;
	font-family: ProximaNova Regular;
	border-bottom: 1px solid #f4f4f4;
	cursor: pointer;
	text-align: center;
	height: 97%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bottom_bar_menu > div:first-child {
	border-right: 1px solid #f4f4f4;
}
.bottom_bar_menu >div:last-child {
	border-left: 1px solid #f4f4f4;
}
.bottom_bar_menu > div:hover {
	border-bottom: 2px solid #72a7ff !important;
	color: #3367d6 !important;
}
.side_bar_messages_container {
	display: flex;
	width: 99%;
	height: 80px;
	background-color: white;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor:pointer;
	margin: auto;
	border-bottom: 1px solid lightgray;
}
.side_bar_messages_container:hover {
	background-color: lightblue;
	transition: .6s;
}
.side_bar_messages_container > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.side_bar_messages_container > div > img {
	height: 50px;
	margin-left: 5px;
	border-radius: 25px;
}
.side_bar_messages_container_block2 > p:first-child{
	color: black;
	font-size: 13px;
	font-family: ProximaNova Regular;
	margin-bottom: 14px;
	align-self: self-start;
}
.side_bar_messages_container_block2 > p:last-child {
	font-size: 13px;
	color: #808080;
	font-family: ProximaNova Regular;
	align-self: self-start;
	width: 221px;
	height: 19px;
	overflow-x: hidden;
}
.side_bar_messages_container_block2 {
	width: 180px;
}
.side_bar_messages_container > div:last-child > p:first-child {
	padding-top: 2px;
	font-size: 14px;
	color: white;
	background-color: #4285f4;
	font-family: ProximaNova Regular;
	margin-bottom: 14px;
	border:1px solid #4285f4;
	width: 20px;
	height: 18px;
	border-radius: 25px;
	text-align: center;
}
.side_bar_messages_container > div:last-child > p:last-child {
	font-size: 12px;
	color: #808080;
	font-family: ProximaNova Regular;
}
.bottom_bar_content {
	overflow-y: auto;
	height: calc(100vh - 257px);
}
/*for the frinds menu in side bar */
.side_bar_friends_container {
	display: flex;
	width: 99%;
	height: 80px;
	background-color: white;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor:pointer;
	margin: auto;
	border-bottom: 1px solid lightgray;
}
.side_bar_friends_container:hover {
	background-color: lightblue;
	transition: .6s;
}
.side_bar_friends_container > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.side_bar_friends_container > div > img {
	height: 50px;
	margin-left: 5px;
	border-radius: 25px;
}
.side_bar_friends_container_block2 > p:first-child{
	color: black;
	font-size: 13px;
	font-family: ProximaNova Regular;
	margin-bottom: 14px;
	align-self: self-start;
}
.side_bar_friends_container_block2 > p:last-child {
	font-size: 13px;
	color: #808080;
	font-family: ProximaNova Regular;
	align-self: self-start;
	width: 221px;
	height: 17px;
	overflow-x: hidden;
}
.side_bar_friends_container_block2 {
	width: 180px;
}
.side_bar_friends_container > div:last-child > p:first-child {
	padding-top: 2px;
	font-size: 14px;
	color: white;
	font-family: ProximaNova Regular;
	margin-bottom: 14px;
	width: 15px;
	height: 13px;
	border-radius: 25px;
	text-align: center;
}
.side_bar_friends_container > div:last-child > p:last-child {
	font-size: 12px;
	color: #808080;
	font-family: ProximaNova Regular;
}
.bottom_bar_content {
	overflow-y: auto;
	height: calc(100vh - 257px);
}

/*	**	*	**	*	**	*	**	*	**/
.miniside {
	display: none;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	z-index: 1;
	top: 0px;
	width: 80px;
	height: 100vh;
}
#sidebar {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	list-style-type: none;
	background-color: #4285f4;
	overflow-x: auto;
}
#sidebar > li > img {
	width: 50px;
	height: 50px;
	border-radius: 35px;
	border: 2px solid #4285f4;
	margin: 5px auto;
	cursor: pointer;
}
#sidebar > li > img:hover {
	border-color: #3367d6;
}
img[alt='menu'] {
	margin: 10px auto;
	width: 20px;
	cursor: pointer;
}

/* The main block */


main {
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	width: calc(100vw - 370px);
	height: 100vh;
	align-items: center;
}
.chat_information {
	position: fixed;
	width: calc(100vw - 370px);
	height: 85px;
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-shadow: 6px 10px 12px #e7e7e7;
	z-index: 1;
}
.chat_information > p {
	color: black;
	font-family: ProximaNova Regular;
	font-size: 17px;
}
.chat_information > div:first-child {
	margin-left: 30px;
}
.chat_information > div:last-child {
	margin-right: 30px;
	color: #808080;
	font-size: 14px;
}
.chat_information > div:last-child > p:first-child {
	margin-bottom: 8px;
}
.chat_menu {
	height: 55px;
	width: calc(100vw - 370px);
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #fbfcfc;
	top: 85px;
	z-index: 1;
}
.chat_menu > div:first-child > p {
	margin-left: 30px;
	color: black;
	font-family: ProximaNova Regular;
	font-size: 14px;
	cursor: pointer;
}
.chat_menu > div:last-child > p {
	color: #a9a9a9;
	font-size: 14px;
	font-family: ProximaNova Regular;
	margin-right: 30px;
	cursor: pointer;
}
img[alt='files'] {
	margin-right: 	9px;
}
img[alt='more'] {
	margin-left: 13px;
}
.chat_messege {
	position: fixed;
	width: calc(100vw - 370px);
	height: 110px;
	background-color: #f5f5f5;
	top: calc(100vh - 110px);
	display: flex;
	flex-direction: column;
}
.chat_messege_bottom {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.chat_messege_bottom_content_2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 93%;
	position: relative;
}
.chat_messege_bottom_content_2 > input[type='text'] {
	margin-left: 10px;
	border: none;
	width: 100%;
	height: 50px;
	border-radius: 3px;
	background-color: white;
	padding-left: 20px;
}
.chat_messege_bottom_content_2 > input[type='submit'] {
	width: 113px;
	background-color: #4285f4;
	font-family: ProximaNova Regular;
	font-size: 16px;
	color: #f5f5f5;
	border: none;
	cursor: pointer;
	border-radius: 2px;
	position: absolute;
	right: 6px;
	height: 39px;;
}
.chat_messege_bottom_content_2 > input:last-child:hover {
	background-color: #3367d6;
}
.chat_messege_bottom_content_1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 15px;
}

img[alt='Attach file'], img[alt='Emoticon'] {
	cursor: pointer;
}
img[alt='Emoticon'] {
	position: absolute;
	right: 130px;
}
img[alt='Attach file'] {
	width: 20px;
}
.typing {
	height: 30px;
	border-bottom: 2px solid #fbfcfc;
	color: #787878;
	font-size: 14px;
	font-family: ProximaNova Regular;
	margin-left: 15px;
	margin-bottom: 20px;
}


/* Frients sidebar */

#status_user {
	width: 10px;
	position: absolute;
	right: 4px;
	bottom: 1px;
	top: 39px;
}
.friends_content {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 2px whitesmoke solid;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: flex-start;
}
.friends_content > div:first-child > img:first-child {
    width: 50px;
    border-radius: 30px;
    margin-left: 10px;
}
.friends_content > div + div > p:last-child {
	font-size: 13px;
	color: gray;
	font-family: ProximaNova Regular;
}
.friends_content > div:first-child + div {
	margin-left: 15px;
	width: 180px;
	height: 35px;
	overflow: hidden;
}
.friends_content > div ~ div > p:first-child{
	color: black;
	font-family: ProximaNova Regular;
	color: #787878;
	font-size: 13px;
}
.friends_content > div:last-child {
	align-self: baseline;
	margin-top: 10px;
}
.friends_content > div {
	cursor: pointer;
	position: relative;
}

/* Message history */

.message_history {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 142px;
	width: 100%;
	height: calc(100vh - 260px);
}
.message_history > div {
	display: flex;
	flex-direction: row;
	align-items: end;
	margin: 25px 0px;
}
.this_user_message > div {
	display: flex;
	flex-direction: column;
	align-items: end;
}
.notThis_user_message > div {
	display: flex;
	flex-direction: column;
}
.this_user_message {
	align-self: end;
	margin-right: 30px !important;
}
.notThis_user_message {
	align-self: flex-start;
	margin-left: 30px !important;
}
.this_user_message > div > .message_text {
	margin-right: 10px;
}
.notThis_user_message > div > .message_text {
	margin-left: 10px;
}
.this_user_message > div > .message_time {
	margin-right: 10px;
	color: #a9a9a9;
	font-size: 12px;
	font-family: ProximaNova Regular;
}
.notThis_user_message > div > .message_time {
	margin-left: 10px;
	color: #a9a9a9;
	font-size: 12px;
	font-family: ProximaNova Regular;
}
img[alt='icon_user'] {
	width: 50px;
	height: 50px;
	border-radius: 35px;
}
.message_text {
	background-color: #cdeafc;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
}







/*///// Animation /////*/
@keyframes sidebarHide
{
	from {
		opacity: 1;
		width: 370px;
	}
	to {
		opacity: 0;
		width: 0px;
	}
}
@keyframes sidebarBack 
{
	from {
		opacity: 0;
		width: 0px;
	}
	to {
		opacity: 1;
		width: 370px;
	}
}



/*///// Fonts inncluding /////*/
@font-face {
	src: url(fonts/ProximaNova/ProximaNova Regular.ttf);
	font-family: ProximaNova Regular;
}
@font-face {
	src: url(fonts/ProximaNova/ProximaNova Light.ttf);
	font-family: ProximaNova Light;
}